*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(54, 0, 0);
    color:white;
}
#container h2{
    text-align: center;
    margin-top: 10px;
    font-size: 230%;
}
#container h3{
    margin-top: 10px;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}
#pizza-size p{
    text-align: center;
    font-weight: bold;
    font-size: 140%;
}
#pizza-size{
    border: 1px solid blue;
    margin: 30px;

}
.pizzaSize{
    margin: 20px;
    height: 30px;
}
#pizza-Images{
    position:absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 105px;
    margin-left: 20%;
    padding: 60px;
    width: 80%;
    max-height: 100%;
}
#pizzatoppings{
    margin-top: 10px;
    width: 10%;
}
.toppings{
grid-template-columns: repeat(2, 1fr);
margin: 10px;
}
#drinkOptions{
    margin-left: 5px;
    margin-top: 5px;
    width:8%;
}
#customer-Information{
    margin-left: 15%;
    margin-top: -434px;

}
#display-and-Compute{
    margin-left: 55%;
    margin-top: -10%;;
    
}
#display-and-Compute button{
    margin-top: 50px;
    margin-left: 26%;
    border-radius: 1.5rem;
    color: blue;
}